* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 20%;
    border-radius: 5px;
}
header footer nav { background-color: #bbb;}
header{
    background-color: #B3CDD1;
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px 30px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}
main h1 {
    text-align: center;
}
nav {
    border:1px solid #415541;
    background-color: #e9f5e9;
    overflow: hidden;
    margin: 1rem 0;
    justify-content: center;
    text-align: center;

}
nav ul {
    list-style-type: none;

}
nav a {
    display: block;
    color: #415541;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    align-items: center;
}
.active {
    color: white;
}
.parent {
    margin: 1rem 2vw;
}
.parent section {
    border:1px solid #415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
h2 {
    background-color: #415541;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}
.parent p {
    padding: 10px;

}
.information {
    text-align: center;
}
.lastmodified{
    color: black;
    text-align: center;
    font-size: 5px;

}
.links {
    list-style-type: none;
    margin: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B3CDD1;
    gap: 5px;
    padding: 5px;
    font-size: 20px;
}
