@media only screen and (min-width: 38rem) {
    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }
    .parent section {
        box-shadow: 1px 1px 10px black;
    }
}
@media (min-width: 38rem) {
    nav ul {
        display: flex;
        justify-content: center;

    }
    nav ul li {
        flex: 1 1 100%;

    }

}
@media only screen and (min-width: 38rem) {
    #myButton {
        display: none
    }
    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }
    ul.menuLinks a:hover {
        color: orange;
    }
}
